$border-radius: 7px;

.input_success {
  width: 100%;
  // margin: 0.5rem 1rem 1rem 1rem;
  margin: 0;
  border: 1px solid #c3c3c3;
  outline: none;
  border-radius: $border-radius;
  padding: 10px 15px 10px 15px;
}

.input_error {
  width: 100%;
  // margin: 0.5rem 1rem 1rem 1rem;
  margin: 0;
  border: 1px solid red;
  outline: none;
  border-radius: $border-radius;
  padding: 10px 15px 10px 15px;
}
